<h1>Pinouts#edit</h1>
<p>Find me in app/views/pinouts/edit.html.erb</p>


<h1>Editing Pinout</h1>

<%= render 'form', pinout: @pinout %>

<%= link_to 'Show', @pinout %> |
<%= link_to 'Back', pinout_path %>
